<p id="notice"><%= notice %></p>

<h1>Cont Nums</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Source</th>
      <th>Cont num</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cont_nums.each do |cont_num| %>
      <tr>
        <td><%= cont_num.status %></td>
        <td><%= cont_num.source %></td>
        <td><%= cont_num.cont_num %></td>
        <td><%= link_to 'Show', cont_num %></td>
        <td><%= link_to 'Edit', edit_cont_num_path(cont_num) %></td>
        <td><%= link_to 'Destroy', cont_num, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cont Num', new_cont_num_path %>
