<%= form_with(model: act_num, local: true) do |form| %>
  <% if act_num.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(act_num.errors.count, "error") %> prohibited this act_num from being saved:</h2>

      <ul>
      <% act_num.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :act_num_status %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source, id: :act_num_source %>
  </div>

  <div class="field">
    <%= form.label :act_num %>
    <%= form.text_field :act_num, id: :act_num_act_num %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
