<p id="notice"><%= notice %></p>

<h1>Act Names</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Act name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @act_names.each do |act_name| %>
      <tr>
        <td><%= act_name.status %></td>
        <td><%= act_name.act_name %></td>
        <td><%= link_to 'Show', act_name %></td>
        <td><%= link_to 'Edit', edit_act_name_path(act_name) %></td>
        <td><%= link_to 'Destroy', act_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Act Name', new_act_name_path %>
