<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :contact_status %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source, id: :contact_source %>
  </div>

  <div class="field">
    <%= form.label :cont_num %>
    <%= form.text_field :cont_num, id: :contact_cont_num %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :contact_first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, id: :contact_last_name %>
  </div>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, id: :contact_full_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
