<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :act_num %>
    <%= form.text_field :act_num, id: :account_act_num %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :source, id: :account_source %>
  </div>

  <div class="field">
    <%= form.label :act_name %>
    <%= form.text_field :act_name, id: :account_act_name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :account_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
